<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-6">
    <div class="col-md-2">
        <h2>Login</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-3">
        {% if my_error %}
        <p style="color: red">{{ my_error }}</p>
        {% endif %}
        <form method="POST">
            {{error}}
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
</div>
{% endblock %}